body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует по горизонтали */
    justify-content: center; /* Центрирует по вертикали */
    height: 100vh; /* Задает высоту body на 100% высоты окна */
    margin: 0; /* Убирает отступы по умолчанию */
}

