table {
    border-collapse: collapse; /* Убирает двойные границы между ячейками */
    width: auto; /* Автоматическая ширина таблицы */
    margin-bottom: 20px;
}

/* Стили для ячеек таблицы */
td {
    border: 1px solid black; /* Черная обводка вокруг ячейки */
    padding: 0; /* Убирает отступы внутри ячейки */
    margin: 0; /* Убирает внешние отступы */
    width: 30px; /* Ширина ячейки */
    height: 30px; /* Высота ячейки */
}